{% extends "layout.html" %}

{% block title %}
Browse
{% endblock %}

{% block style %}
<style>

    .row{
        padding:60px;
    }

    .browse-profiles{
        display: block;
        margin: 0 auto;
        width: 70%;
        height:300px;
        margin-bottom:35px;
        border: 1px solid white;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
        box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
    }

    .browse-profiles:hover{
        -webkit-box-shadow: 0px 0px 15px 3px rgba(211,211,211,1);
-moz-box-shadow: 0px 0px 15px 3px rgba(211,211,211,1);
box-shadow: 0px 0px 15px 3px rgba(211,211,211,1);
    }
    .btn{
        margin:10px;
        opacity: .8;
    }



</style>

{% endblock %}

{% block body %}

<div class="row">
    {% for row in rows %}
    <div class="browse-profiles">
        <div class=" mb-4 back">
            <div class="card-body">
                <h5 class="card-title">{{ row["username"] }}</h5>
                <p class="card-text des">Skills: {{ row["skills"] }}</p>
                <p class="card-text des">Summary: {{ row["bio"] }}</p>
                <form action="/profile" method="post">
                    <input type="hidden" name="row" value="{{row}}">
                    <input class="btn btn-primary" type="submit" name="button" value="Visit Profile">
                </form>
                <form action="/friendSomeone" method="post">
                    <input type="hidden" name="person_id" value="{{row['id']}}">
                    <input class="btn btn-primary" type="submit" name="button" value="Friend">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}m