{% extends "layout.html" %}

{% block title %}
    Partners
{% endblock %}

{% block style %}

<style>
    .row{
        margin: 0px;
        padding: 60px;
    }
    
    .browse-friends{
        display: block;
        margin: 0 auto;
        width: 70%;
        height:300px;
        margin-bottom:65px;
        border: 1px solid white;
        cursor: pointer;
        background-color: #edf3ff;
        color:black;
        position:relative;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
        box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
    }
    
    .browse-friends:hover{
        -webkit-box-shadow: 0px 0px 15px 3px rgba(211,211,211,1);
        -moz-box-shadow: 0px 0px 15px 3px rgba(211,211,211,1);
        box-shadow: 0px 0px 15px 3px rgba(211,211,211,1);
    }
    
    input.btn{
        margin:10px;
        display: inline-block;
        font-size:13px;
        position:absolute;
        top:97%;
        opacity:.8;
        transform: translate(-50px, -50px);
        background-color:#64e986;
        color:white;
    }
    
    input.btn:hover{
        background-color:#003b72;
        opacity:.9;
    }
    
    .first{
        float:left;
        left:7%;
    }
    
    .second{
        left:19%;
    }
    .search-btn{
        width: 20%;
        padding: 10px;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
    }

    .partnerHeader {
        text-align: center;
        margin-top: 20px;
    }


</style>
{% endblock %}


{% block body %}

    <h1 class="partnerHeader">Here Are Your Partners</h1>
    <div class="row">
        {% for friend in friends %}
            <div class="browse-friends">
                <div class=" mb-4 back">
                    <div class="card-body">
                        <h5 class="card-title">{{ friend["name"] }}</h5>
                        <p class="card-text des">Bio: {{ friend["bio"] }}</p>
                        <p class="card-text des">Interests: {{ friend["interests"] }}</p>
                        <p class="card-text des">Skills: {{ friend["skills"] }}
                        </p>
                        <form action="/profile" method="post">
                            <input type="hidden" name="person_id" value="{{ friend['id'] }}">
                            <input class="first btn btn-primary" type="submit" name="button" value="Visit Profile">
                        </form>
                        <form action="/remove" method="post">
                            <input type="hidden" name="person_id_remove" value="{{friend['id']}}">
                            <input class="second btn btn-primary" type="submit" name="button" value="Remove Partner">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
