{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block style %}
    <style>

        .profile-page{
            margin-left:25%;
        }
        
        h1.profile-name{
            font-size:30px;
        }

        h3.profile-name{
            font-size:23px;
            margin-right:100px;
        }
        
        .parent {
            text-align: left;
            margin-right: 200px;
            line-height: 2;
        }
    
        hr {
            border-top: 1px solid black;
            margin-left: 150px;
            margin-right: -50px;
        }

        .sub, .ans{
            display: inline;
        }

        .editProfile,  #logOut, button.back, #partnerUp{
            height: 30px;
            width: 100px;
            margin-top: 15px;
            border: 1px solid black;
            border-radius: 4px;
            background-color: white;
            color: gray;
            text-align: center;
            font-size: 12px;
        }
         
        .editProfile:hover, #logOut:hover, button.back:hover, #partnerUp:hover{
            transform: scale(1.1);
        }

        #profilePart {
            display: flex;
        }
        
        #nameEtc {
            height: 500px;
        }

        h4.sub{
            font-size:17px;
            width:55%;
        }

        .hidden{
            display:none;
        }

        p.ans{
            font-size:15px;
            width:55%;
            font-weight:300;


        }
        .section{
            margin-left:40px;
            margin-bottom:15px;
        }

        .edit{
            margin-left:20px;
        }


    </style>
{% endblock %}

{% block body %}
<div class="profile-page">
<div class="parent">
    <br>
    <div>
        <form action="/browse" style="display: inline;font-size:larger;">
            <button class="back" type="submit">
                &#8592 Back</button>
        </form>
    <br>
    <br>
    <div id="profilePart">
        <div id="nameEtc" > 
            <h1 class="profile-name">{{row["name"]}}</h1>
            <h3 class="profile-name"><i>@{{ row["username"] }}</i></h3>
            {% if yours %}
                <form action="/updateProf2" method="post">
                    <input type="hidden" name="row" value="{{row}}">
                    <input class="second btn btn-primary" id="partnerUp" type="submit" name="button" value="Edit Profile">
                </form>
                <form action="/deleteAcc">
                    <input id="logOut" type="submit" value="Delete Account">
                </form>
            {% else %}
                <form action="/partners" method="post">
                    <input type="hidden" name="person_id" value="{{row['id']}}">
                    <input class="second btn btn-primary" id="partnerUp" type="submit" name="button" value="Partner Up">
                </form>
            {% endif %}
        </div>
        <div id="about">
            <div>
                
                <div class="section">
                <h4 class="sub purple bio" id="bio" >Bio:</h4>
                <p class="ans">{{row["bio"]}}</p>
                <br>  
            </div>

                <div class="section">
                <h4 class="sub red interests">Interests:</h4>
                <p class="ans" >{{row["interests"]}}</p>
                <br></div>

                <div class="section">

                <h4 class="sub pink skills" >Skills:</h4>
                <p class="ans" >{{row["skills"]}}</p>
                <br>
                </div>

                <div class="section">
                <h4 class="sub green location">Location:</h4>
                <p class="ans"> {{row["location"]}}</p>
                <br>    
                </div>


                <div class="section">
                <h4 class="sub blue phone">Phone #:</h4>
                <p class="ans">{{row["phone"]}}</p>
                <br>
            </div>

                <div class="section">
                <h4 class="sub yellow email">Email:</h4>
                <p class="ans">{{ row["email"] }}</p> 
            {% if row["info"] != None %}<br>
        </div>

            <div class="section">
                    <h4 class="sub orange other">Other Contacts:</h4>
                    <p class="ans">{{row["info"]}}</p>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/script.js"></script>

{% endblock %}


