{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block style %}
    <style>
        
    </style>
{% endblock %}

{% block body %}
    <h3>Username: </h2>
    {{ row["username"] }}
    <h3>Your Name: </h2>
    {{ row["yournameame"] }}
    <h3>Bio: </h2>
    {{ row["Bio"] }}
    <h3>Interests: </h2>
    {{ row["interests"] }}
    <h3>Skills: </h2>
    {{ row["skills"] }}
    <h3>Phone: </h2>
    {{ row["phone"] }}
    <h3>Email: </h2>
    {{ row["email"] }}
    <h3>Location: </h2>
    {{ row["location"] }}
{% endblock %}


