{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block style %}
<style>
    .page{
        display:block;
        margin:0 auto;
        width:100%;
    }
    td {
        padding: 20px;
    }
    
    form {
        margin-left: 200px;
        margin-right: 200px;
    }
    
    table {
        background-color: #dfdfdf;
        text-align: left;
        display:block;
        margin:0 auto;
        border-radius: 25px;
    }
    
    .interest{
        width:24%;
    }
    
    h1.profile-info{
        text-align: center;
        margin: 30px;
        font-size:40px;
        font-weight:400;
        margin-top:65px;
    }
    
    h3.profile-info{
        text-align: center;
        margin: 28px;
        font-weight:300;
        font-size:25px;
    }
    
    
</style>
{% endblock %}

{% block body %}
<h1 class="profile-info">Find your perfect coding partner today</h1>
<h3 class="profile-info">Enter some profile info so we can get you matched!</h3>


<form action="/profilePost" method="post">
    <div class="page">
        <label>Your Name:</label>
        <input class="reg" name="name" placeholder="John Doe" type="text">
    </div>
    <br>
    <div>
        <label>Summary/bio:</label>
        <textarea class="reg" rows="5" cols="60" name="bio" style="text-align: left;" placeholder="I am a high school senior interested in web applications. I love to play sports, specifically football, and also love to travel! I often do small coding projects to expand my knowledge." type="text"></textarea>
    </div>
    <br>
    <div>
        <label>What are your interests?</label><br>
        <input class="reg interest" name="interest1" placeholder="Football" type="text">
        <input class="reg interest" name="interest2" placeholder="Travel" type="text">
        <input class="reg interest" name="interest3" placeholder="Web apps" type="text">
        <input class="reg interest" name="interest4" placeholder="Community Service" type="text">
    </div>
    <br>
    <div>
        <label>What are your CS skills?</label>
        <br>
        <table>
            <tr>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="design" name="design" value="design">
                        <label for="design"> Design</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="html" name="html" value="html">
                        <label for="html"> HTML/CSS</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="C" name="C" value="C">
                        <label for="C"> C</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="react" name="react" value="react">
                        <label for="react"> React</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="java" name="java" value="java">
                        <label for="java"> Java</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="node" name="node" value="node">
                        <label for="node"> Node</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="linux" name="linux" value="linux">
                        <label for="linux"> Linux</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="sql" name="sql" value="sql">
                        <label for="sql"> SQL</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="mongodb" name="mongodb" value="mongodb">
                        <label for="mongodb"> MongoDB</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="js" name="js" value="js">
                        <label for="js"> Javascript</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="jquery" name="jquery" value="jquery">
                        <label for="jquery"> JQuery</label>
                    </div>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <input type="checkbox" id="Cplusplus" name="Cplusplus" value="Cplusplus">
                        <label for="Cplusplus"> C++</label>
                    </div>
                </td>
                <tr>
                    <td>
                        <div style="white-space: nowrap;">
                            <input type="checkbox" id="ruby" name="ruby" value="ruby">
                            <label for="ruby"> Ruby</label>
                        </div>
                    </td>
                    <td>
                        <div style="white-space: nowrap;">
                            <input type="checkbox" id="go" name="go" value="go">
                            <label for="go"> Go</label>
                        </div>
                    </td>
                    <td>
                        <div style="white-space: nowrap;">
                            <input type="checkbox" id="Csharp" name="Csharp" value="Csharp">
                            <label for="Csharp"> C#</label>
                        </div>
                    </td>
                    <td>
                        <div style="white-space: nowrap;">
                            <input type="checkbox" id="PHP" name="PHP" value="PHP">
                            <label for="PHP"> PHP</label>
                        </div>
                    </td>
                    <td>
                        <div style="white-space: nowrap;">
                            <input type="checkbox" id="bash" name="bash" value="bash">
                            <label for="bash"> Bash/Shell/PowerShell</label>
                        </div>
                    </td>
                    <td>
                        <div style="white-space: nowrap;">
                            <input type="checkbox" id="swift" name="swift" value="swift">
                            <label for="swift"> Swift</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <label>Where do you live?</label>
            <input name="location" class="reg" placeholder="San Fransico, CA" type="text" maxlength="50">
        </div>
        <br>
        <div>
            <label>Phone number:</label>
            <input name="phone" class="reg"  placeholder="415-888-9574" type="text">
        </div>
        <br>
        <div>
            <label>Email:</label>
            <input name="email" class="reg"  placeholder="johndoe@gmail.com" type="text">
        </div>
        <br>
        <div>
            <label>Additional contact info:</label>
            <textarea rows="5" cols="60" class="reg"  name="info" placeholder="Github: johndoe - Portfolio: http://johndoe.com" type="text"></textarea>
        </div>
        <br>
        <button class="subButton but" type="submit">Finish Profile</button>
        <br>
        <br>
    </div>
</form>

{% endblock %}
