{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <form action="/register" class="register-form" method="post">
        <div>
            <input class="reg" id="username" name="username" placeholder="Username" type="text">
            <p id="errorUsername"></p>
        </div>
        <div>
            <input class="reg" id="username" name="password" placeholder="Password" type="password">
            <p id="errorPassword"></p>
        </div>
        <div>
            <input class="reg" id="username" name="confirmation" placeholder="Confirm Password" type="password">
            <p id="errorConfirmPassword"></p>
        </div>
        <button class="but" type="submit" onclick="register()">Register</button>
    </form>
{% endblock %}