{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <form action="/register" class="register-form" method="post">
        <div>
            <input class="reg" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input class="reg" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input class="reg" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="but" type="submit">Register</button>
    </form>
{% endblock %}